<div id="<%= dom_id student %>">
  <p>

    <%= student.name %>
  </p>

  <p>

    <%= image_tag student.url, size: "200x200" %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= student.country %>
  </p>

</div>
