<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Students</h1>

  <div id="students">
    <div class="row">
    <% @students.each do |student| %>
          <div class="col-6">
            <%= render student %>
            <p>
              <%= link_to "Show this student", student %>
            </p>
          </div>
    <% end %>
    </div>
  </div>

  <%= link_to "New student", new_student_path %>
</div>
