<% @restaurants.each do |restaurant| %>
  <p>
    <%= link_to restaurant.name, restaurant_path(restaurant.id)%>
    <%= link_to "Edit", edit_restaurant_path(restaurant.id)  %>
    <%= link_to "Delete", restaurant_path(restaurant.id), data: {turbo_method: :delete, turbo_confirmation: "Estas seguro/a que quieres borrar este registro?"} %>
  </p>
<% end %>
